<div id="header_conteneur"><div id="header">&nbsp;</div></div>

<div id="speedbar">
<ul>
	<li><a href="#">Accueil</a></li>
	<li><a href="#">Projet</a></li>
	<li><a href="#">Équipe</a></li>
	<li><a href="#">Contact</a></li>
</ul>
</div>

<div id="conteneur">
<div id="corps">
	<h1>Connexion</h1>
	<p>Ideologia est un jeu de plateau multijoueur basé sur des idéologies qui existent ou ont existé.
	Le but est de conquérir le plus de territoires possibles tout en respectant l'idéologie incarnée dès le départ.</p>
	<p>Une partie dure 30 minutes. Êtes-vous prêt à relever le défi ?</p>
	
	<form method="post" action="/application/plateau">
		<fieldset class="connexion">
				<label for="pseudo">Pseudo</label>
				<input type="text" name="pseudo" id="pseudo" maxlength="32" />
				<label></label>
				<input type="submit" value="Connexion" />
		</fieldset>
	</form>
</div>
</div>

<div id="conteneur_footer">
	<div id="footer">
		<p><a href="#">Nous contacter</a><br />
		Projet réalisé par des étudiants de l'IUT-BM<br />
		2012-2013</p>
	</div>
</div>

