body {
	margin:0;
	padding:0;
	height: 100%;
	font-family : Helvetica, Arial, sans-serif;
}

#conteneur_plateau { /* Affichage du plateau de jeu global en arrière plan du salon d'attente */
	height: 100%;
	width:100%;
	min-width:1000px;
	min-height:650px;
	position:absolute;
	
}

#plateau {
	margin-right:250px;
	height:100%;
}

#menu {
	position:relative; /* Pour fixer les jauges en absolute */
	float:right;
	width:249px;
	height:100%;
	overflow:auto;
	background:url('../images/fond.png') repeat-x white;
	box-shadow: inset 1px 0px 20px 1px #656565;
	border-left:1px solid black;

}
