@font-face {
	font-family: "Electrolize";
	src: url('fonts/Electrolize-Regular.ttf');
}

html,body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	font-family: sans-serif;
	background:url('../images/fond.jpg') fixed;
	background-size:cover;
}

h1, h2 {
	text-align:center;
	font-family: Electrolize;
	font-variant: small-caps;
}

.bold {
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-center {
	text-align:center;
}

.sep {
	clear:both;
}

form.block input {
	margin:0;
	width:100%;
	display:inline-block;
}

input[type="text"] {
	box-sizing: border-box;
}

input, button {
	font-size:120%;
	padding:10px 15px;
	border:1px solid #666666;
	font-family: Electrolize;
}

input.button, button.button {
	border:none;
	padding:10px 15px;
	font-size:120%;
	background:#282828;
	color:white;
	text-transform: uppercase;
}


/* Popunder */

div#popunder {
	text-align:center;
	padding-top:25vh;
	position:fixed;
	width:100%;
	z-index:10;
}

div#popunder > div {
	text-align:left;
	margin:auto;
	padding:32px;
	background-color:rgba(255,255,255,0.6);
	width:30%;
	min-width:400px;
}

div#popunder.intro {
	padding-top:8vh;
}

div#popunder.intro > div {
	width:45%;
}

div#popunder > div.nobg {
	background-color:transparent;
}

div#popunder > div > h1 {
	color:#161616;
	font-size:2.2em;
	text-transform: uppercase;
}

/* Top bar */

div#topbar {
	position:fixed;
	top:0;
	width:100%;
	background:#222222;
	padding:0;
}

div#topbar h1 {
	font-family: Electrolize;
	text-transform: uppercase;
	font-weight: bold;
	font-size:2rem;
	line-height:2.5rem;
	margin:0;
	padding:0;
	padding-left:5px;
	color:rgba(255,255,255,0.8);
	text-align:left;
	display:inline-block;
}

div#topbar h2 {
	font-size: 1.2rem;
	display:inline;
	padding-left:10px;
	line-height: normal;
}

div#topbar ul {
	margin:0;
	padding:0;
	list-style-type: none;
	width:100%;
}

div#topbar ul li {
	margin:0;
	padding:0;
	display:inline-block;
	width:33%;
	text-align:center;
	color:white;
}

div#topbar ul li:first-child {
	text-align:left;
}

div#topbar ul li:last-child {
	text-align:right;
}

/* Bottom bar */

div#bottombar {
	position:fixed;
	bottom:0;
	width:100%;
	background:#222222;
	padding:0;
	color:white;
}

div#bottomCharts {
	float:right;
	width:810px;
	height:60px;
}

div.globalCharts {
	width:400px;
	display:inline-block;
}

div.globalCharts h4 {
	display:inline-block;
	width:110px;
	margin:0;
	line-height:150%;
	text-align:right;
	font-family: Electrolize;
	padding:0;
	padding-top:5px;
}

div.globalCharts ul.global {
	width:280px;
	height:60px;
	float:right;
}

/* Salons */
div#rooms {
	margin:0;
	font-family: Electrolize;
}

div#rooms > div {
	background:#222222;
	color:white;
	margin-bottom:30px;
	clear:both;
}

div#rooms > div > h2 {
	color:white;
	font-size:1.5em;
	margin:0;
	text-transform: uppercase;
	line-height:40px;
	font-weight: normal;
}

div#rooms div.details {
	display:block;
	width:100%;
	border:none;
	line-height:40px;
	height:40px;
	margin:0;
	clear:both;
}

div#rooms div.details span, div#rooms div.details input {
	height:40px;
	display:inline-block;
}

div#rooms div.details span {
	background:white;
	text-align:center;
	font-size:120%;
	color:black;
	width:60%;
	margin:0;
	float:left;
}

div#rooms div.details input {
	display:inline-block;
	background-color:#008cba;
	width:40%;
	border:none;
	margin:0;
	float:right;
}

ul.waitingWith {
	list-style-type: none;
	font-family:Electrolize;

}

ul.waitingWith li {
	background:#222222;
	border:1px solid white;
	padding:5px;
	margin:5px;
	color:white;
	font-weight: bold;
	font-size:120%;
	width:40%;
	display:inline-block;

}

/* Panel: left+right */

div.panel {
	width:300px;
	margin-top:40px;
	padding:0 10px;
}

div.panel h2 {
	margin:0 auto;
	margin-top:20px;
}

div.left.panel {
	float:left;
}

div.right.panel {
	float:right;
}

/* Body */

div.body {
	position:fixed;
	left:300px;
	right:300px;
	top:80px;
}



/* Barcharts */

ul.barcharts {
	margin:0;
	padding:0;
	list-style-type: none;
	height:120px;
	display: flex;
	color:white;
}

ul.barcharts li {
	margin:0;
	padding:0;
	display:inline-block;
	width:33.33%;
	height:100%;
	position:relative;
}

ul.barcharts li span {
	width:100%;
	position:absolute;
	bottom:0;
	transition:height 0.5s ease;
	transition-timing-function:ease-in;
}

ul.barcharts li span.optimal {
	border-top:1px solid white;
}

ul.barcharts li span.number {
	height:50%;
	text-align:center;
	font-size:small;
	text-shadow: 0 0 1px black;
}

ul.barcharts li span.legend {
	text-align:center;
	font-size:x-large;
	padding:10px 0;
	text-shadow: 0 0 1px black;
}


/* USED? */


/*
	CSS
*/

#accueil {
	text-align:center;
}

#front {
	height:16px;
}


#header h1 {
	padding-top:50px;
	font-size:5em;
	color:rgba(255,255,255,0.8);
	font-family: Electrolize;
	font-variant: small-caps;
}

#intro {
	width:80%;

}

#history {
	font-family: Electrolize;
	text-align:left;
}

#history > div.date {
	display:block;
	text-align:center;
	margin:5px 42px;
	height:40px;
	line-height: 40px;
	color:white;
	font-size:120%;
}

#history > div.dir {}

#history > div.dir a {
	display:block;
	background:rgba(192,192,192,0.5);
	border:1px solid rgba(192,192,192,0.8);

	width:32px;
	line-height:32px;
	font-size:1.4em;

	text-align:center;
	border-radius:50%;
	padding:0;
	margin:5px;

	text-decoration: none;
	color:white;
	font-weight: bold;
}

#history > div.next {
	float:right;
}

#history > div.prev {
	float:left;
}

#history > div.msg {
	display:block;
	text-align:center;
	line-height:160%;
	font-size:90%;

	height:100px;

	border:1px solid white;
	background:rgba(255,255,255,0.4);
}

.adversaires {
	background:rgba(255,255,255,0.4);
	position:absolute;
	bottom:0;
	width:100%;
	text-align:left;
}

.adversaires h2 {
	display:inline-block;
	font-weight:normal;
	font-size:1em;
	margin:0;
	padding:0 20px;
}

.adversaires ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline-block;
}

.adversaires li {
	font-size:90%;
	padding:0 10px;
	margin:3px 3px;
	color:white;
	display:inline-block;
	border:1px solid black;
	background:#222;
	text-shadow:1px 1px 1px black;
}

.mypanel {
	margin:0;
	color:white;
	overflow: auto;
}


div.menuSep {
	height:30px;
	clear:both;
}

svg#svgmap {
	position:fixed;
	top:50%;
	left:300px;
	right:300px;
}

dl#plateau {
	margin:0;
	padding:0;
	display:table;
	width:100%;
	background:rgba(221,221,221,0.33);
	padding:5px;
	position:fixed;
	bottom:0;
	border-top:1px solid rgba(221,221,221,0.5);

	display:none;
}

dl#plateau dt {
	text-align:center;
	list-style-type:none;
	width:2.38%;
	padding:2px;
	display:table-cell;
}

dl#plateau dt span.case {
	font-family: 'Cabin', sans-serif;
	background:#222222;
	color:#EEEEEE;
	font-weight:bold;
	border-bottom:2px solid #888888;
	line-height:45px;
	display:block;
}

dl#plateau dt span.case.danger {
	border-bottom:2px solid red;
}


div#timer {
	text-align:center;
	margin:10px 0;
}

div#timer span {
	font-family:Electrolize;
	text-align:center;
	color:#E00000;
	font-size:1.5rem;
	padding:7px;
	background:#161616;
	box-shadow:1px 1px 1px rgba(200,200,200,0.5);
	display:inline-block;
}



div#status {
	color:red;
	font-size:110%;
	padding:20px;
}

ul.territories {
	list-style-type: none;
	margin:0;
	padding:0;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Electrolize;
	font-size:1rem;
}

ul.territories li:before {
	content:">";
}

ul.territories li.risk:before {
	content:"×";
	text-shadow: 1px 1px 5px white;
}

ul.territories li {
	line-height:22px;
	margin:9px 6px;
	color:#222;
	padding-left:10px;
}

ul.territories li span.risk {
	color:white;
	float:right;
	padding:0 5px;
	font-weight: bold;
}

div.health p {
	text-align:center;
	color:white;
	text-shadow: 1px 1px 1px black;
}

ul.barcharts.stats {
	height:80px;
	color:white;
	opacity:0.8;
}

ul.barcharts.stats li span.number {
	height:auto;
}

ul.barcharts.stats.inverted li span {
	top: 0;
}

ul.barcharts.stats.inverted li span:first-child {
	border-top:1px solid #222;
}


ul.barcharts.stats li {
	width:25%;
}


ul.players {
	list-style-type: none;
	margin:0;
	padding:0;
}

ul.players li {
	transition: background-color 0.5s ease;
	display:inline-block;
	text-align:center;
	font-family: Electrolize;
	width:180px;
	padding:5px 2px;
	border-top:3px solid black;
}

ul.players li.active {
	background-color:rgba(255,255,255,0.4);
}

ul.players li.concerned {
	border-color:white;
}

ul.players li i {
	font-size:150%;
}

div.details dl {
	width:100%;
	overflow: hidden;
}

div.details dl dt {
	float:left;
	width:50%;
	clear:both;
}

div.details dl dd {
	float:right;
	width:50%;
}

.fade.ng-enter {
	transition:0.5s linear all;
	opacity:0;
}

.fade.ng-enter.ng-enter-active {
	opacity:1;
}

.fade.ng-leave {
	transition:1s linear all;
	opacity:1;
}
.fade.ng-leave.ng-leave-active {
	opacity:0;
}

div#wsmsg {
	position:absolute;
	left:15%;
	top:10%;
	width:70%;
	color:darkred;
	padding:30px;
	background:rgba(0,0,0,0.2);
	border-bottom:2px solid darkred;
	font-family: Electrolize;
	font-weight: bold;
	font-size:1rem;
}

div#tracking {
	position:fixed;
	bottom:0;
	width:100%;
	height:20%;
	display:none;
}

div.territoryFrame {
	margin:auto;
	width:150px;
	height:150px;
	text-align:center;
	line-height:150px;
}

div.territoryFrame svg {
	max-height:150px;
	max-width:150px;
	margin:0;
	line-height: normal;
	vertical-align:middle;
	display:inline-block;
}

div.operationsFrame {
	color:#222222;
	font-family: Electrolize;
}

div.operationsFrame div.operation {
	background-color:rgba(255,255,255,0.6);
	border:1px solid transparent;
	transition: background-color 0.5s ease;
	margin:5px 0;
	padding:2px;
	line-height:30px;
	cursor: pointer;
}

div.operationsFrame div.operation.active {
	border:1px dotted white;
	border-left:3px solid white;
	background-color:rgba(255,255,255,0.3);
	padding-left:0px;
}

div.operationsFrame div.operation h3 {
	font-family: Electrolize;
	font-size:1.1em;
	font-variant:small-caps;
	text-align:center;
	padding:0;
	margin:0;
}

div.operationsFrame div.operation div.descOp {
	font-size:85%;
	line-height:110%;
}

div.operationsFrame div.operation div span:first-child {
	padding-left:3px;
}

div.operationsFramediv div span.negative {
	color:#368a55;
}

div.operationsFrame div.operation div span:last-child {
	float:right;
	color:#E00000;
	padding-left:3px;
}

div.operationsFrame ul li.impossible, div.operationsFrame ul li.impossible span.cost {
	color:#5e5e5e;
}

div.effectsFrame {
	margin-top:20px;
}

div.operationSimulation {
	border:1px solid white;
	background:rgba(255,255,255,0.7);
	padding:5px;
	text-align:center;
}

div.hoveredTerritory {
	text-align:center;
	width:80px;
	float:right;
}

div.hoveredTerritory span.owner i {
	font-size:220%;
}

div.hoveredTerritory span.stability {
	display:block;
	width:52px;
	height:52px;
	margin:auto;
	margin-top:15px;
	line-height:52px;
	text-align:center;
	border-radius: 100%;
	font-weight:bold;
	font-family: Electrolize;
	text-shadow: 1px 1px 2px black;
	font-size:0.9em;
	color:white;
}

ul.hoveredTerrChart {
	margin-right:80px;
}

div.currentAction {
	text-align:center;
	font-size:90%;
}