body {
	font-family:Verdana, Tahoma, Helvetica, Arial;
	margin:0;
	padding:0;
	min-height: 100%;
	/*background:url('../images/fond.png') !important;
	background-size:cover !important;*/
	background:url('../images/fond.jpg') !important;
	background-size:cover;
}

h1 {
	text-align:center;
}

.bold {
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
BARCHATS
*/

ul.barcharts {
	margin:0;
	padding:0;
	list-style-type: none;
	height:120px;
	display: flex;
}

ul.barcharts li {
	margin:0;
	padding:0;
	display:inline-block;
	width:33.33%;
	height:100%;
	position:relative;
}

ul.barcharts li span {
	width:100%;
	position:absolute;
	bottom:0;
}

ul.barcharts li span.optimal {
	border-top:1px solid white;
}

ul.barcharts li span.number {
	height:50%;
	text-align:center;
	font-size:small;
	text-shadow: 0 0 1px black;
}

ul.barcharts li span.legend {
	text-align:center;
	font-size:x-large;
	padding:10px 0;
	text-shadow: 0 0 1px black;
}

/*
	CSS
*/

.row.full-width {
	width:99%;
	max-width:99%;
}

#accueil {
	text-align:center;
}



#map {
	text-align:center;
	padding:0;
}

#map div h1, #header h1 {
	color:rgba(255,255,255,0.66);
	text-align:center; margin:0;
	padding:0;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Electrolize;
	font-size:3.5rem;
}

#header h1 {
	padding-top:50px;
}

#history {
	text-align:left;
	position:absolute;
	bottom:0;
}

#history ul {
	list-style-type: none;
	font-size: 0.8em;
	font-color:#666666;
	margin:0;
	padding:0;
}

#history ul li span.date {
	font-size:90%;
	padding-right:20px;
}

.adversaires {
	background:rgba(255,255,255,0.4);
	position:absolute;
	bottom:0;
	width:100%;
	text-align:left;
}

.adversaires h2 {
	display:inline-block;
	font-weight:normal;
	font-size:1em;
	margin:0;
	padding:0 20px;
}

.adversaires ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline-block;
}

.adversaires li {
	font-size:90%;
	padding:0 10px;
	margin:3px 3px;
	color:white;
	display:inline-block;
	border:1px solid black;
	background:#222;
	text-shadow:1px 1px 1px black;
}

.mypanel {
	margin:0;
	color:white;
	overflow: auto;
}

.mypanel h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-family: Electrolize;
	font-size:1.2rem;
	color:rgba(255,255,255,0.8);
	text-align:center;
}

div.menuSep {
	height:30px;
	clear:both;
}

dl#plateau {
	margin:0;
	padding:0;
	display:table;
	width:100%;
	background:rgba(221,221,221,0.33);
	padding:5px;
	position:fixed;
	bottom:0;
	border-top:1px solid rgba(221,221,221,0.5);

	display:none;
}

dl#plateau dt {
	text-align:center;
	list-style-type:none;
	width:2.38%;
	padding:2px;
	display:table-cell;
}

dl#plateau dt span.case {
	font-family: 'Cabin', sans-serif;
	background:#222222;
	color:#EEEEEE;
	font-weight:bold;
	border-bottom:2px solid #888888;
	line-height:45px;
	display:block;
}

dl#plateau dt span.case.danger {
	border-bottom:2px solid red;
}


div#timer {
	text-align:center;
	margin:10px 0;
}

div#timer span {
	font-family:Electrolize;
	text-align:center;
	color:#E00000;
	font-size:1.5rem;
	padding:7px;
	background:#161616;
	box-shadow:1px 1px 1px rgba(200,200,200,0.5);
	display:inline-block;
}

div#startup {
	position:absolute;
	height:100%;
	width:100%;
	height:100%;
	line-height: 100%;
}

div#startup div.conteneur {
	position:absolute;
	left:20%;
	top:25%;
	width:60%;
	height:50%;

	padding:30px;
	background:rgba(255,255,255,0.8);
	border:1px solid rgba(255,255,255,0.6);
	overflow:auto;
}

div#startup.intro div.conteneur {
	top:12%;
}

div#startup div.conteneur h1 {
	color:#161616;
	font-size:2.2em;
}

div#status {
	color:red;
	font-size:110%;
	padding:20px;
}

div#rooms {
	margin:0;
}

div#rooms>div {
	background:#222222;
	color:white;
	margin-bottom:30px;
}

div#rooms div h2 {color:white; font-size:1.5em; margin:0; font-family:Electrolize; text-transform: uppercase; line-height:40px;}

.room-detail {
	width:100%;
	border:none;
	line-height:40px;
	margin:0;
}

div#rooms div div p {
	background:#BBBBBB;
	color:black;
}

div#rooms div div input {
	background:#008cba;
}

ul.territories {
	list-style-type: none;
	margin:0;
	padding:0;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Electrolize;
	font-size:1rem;
}

ul.territories li:before {
	content:">";
}

ul.territories li.risk:before {
	content:"×";
	text-shadow: 1px 1px 5px white;
}

ul.territories li {
	line-height:22px;
	margin:9px 6px;
	color:#222;
	padding-left:10px;
}

ul.territories li span.risk {
	color:white;
	float:right;
	padding:0 5px;
	font-weight: bold;
}

div.health p {
	text-align:center;
	color:white;
	text-shadow: 1px 1px 1px black;
}

ul.barcharts.stats {
	height:80px;
	color:white;
	opacity:0.8;
}

ul.barcharts.stats li span.number {
	height:auto;
}

ul.barcharts.stats.inverted li span {
	top: 0;
}

ul.barcharts.stats.inverted li span:first-child {
	border-top:1px solid #222;
}


ul.barcharts.stats li {
	width:25%;
}


ul.players {
	list-style-type: none;
	margin:0;
	margin:auto;
	width:320px;
	margin-top:-5%;
}

ul.players li {
	transition: background-color 0.5s ease;
	padding: 8px;
	display:inline-block;
	width:50%;
	font-family: Electrolize;
}

ul.players li.active {
	background-color:rgba(255,255,255,0.4);
}

ul.players li i {
	font-size:150%;
}

div.details dl {
	width:100%;
	overflow: hidden;
}

div.details dl dt {
	float:left;
	width:50%;
	clear:both;
}

div.details dl dd {
	float:right;
	width:50%;
}

.fade.ng-enter {
	transition:0.5s linear all;
	opacity:0;
}

.fade.ng-enter.ng-enter-active {
	opacity:1;
}

.fade.ng-leave {
	transition:1s linear all;
	opacity:1;
}
.fade.ng-leave.ng-leave-active {
	opacity:0;
}

div#wsmsg {
	position:absolute;
	left:15%;
	top:10%;
	width:70%;
	color:darkred;
	padding:30px;
	background:rgba(0,0,0,0.2);
	border-bottom:2px solid darkred;
	font-family: Electrolize;
	font-weight: bold;
	font-size:1rem;
}

div#tracking {
	position:fixed;
	bottom:0;
	width:100%;
	height:20%;
	display:none;
}

div.territoryFrame {
	margin:auto;
	width:150px;
	height:150px;
	text-align:center;
	line-height:150px;
}

div.territoryFrame svg {
	max-height:150px;
	max-width:150px;
	margin:0;
	line-height: normal;
	vertical-align:middle;
	display:inline-block;
}

div.operationsFrame {
	text-align:left;
}

div.operationsFrame ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

div.operationsFrame ul li {
}

div.effectsFrame {
	margin-top:20px;
}

div.hoveredTerritory {
	text-align:center;
	width:80px;
	float:right;
}

div.hoveredTerritory span.owner i {
	font-size:220%;
}

div.hoveredTerritory span.stability {
	display:block;
	width:52px;
	height:52px;
	margin:auto;
	margin-top:15px;
	line-height:52px;
	text-align:center;
	border-radius: 100%;
	font-weight:bold;
	font-family: Electrolize;
	text-shadow: 1px 1px 2px black;
	font-size:0.9em;
}

ul.hoveredTerrChart {
	margin-right:80px;
}

div.currentAction {
	text-align:center;
	font-size:90%;
}