#header
{
	background : #b9e9ff url('../images/logo.png') no-repeat center ;
	height:220px;
}

#speedbar {
	height:35px;
	background:url('../images/speed.png') repeat-x;
	border-bottom:1px solid white;
}

#speedbar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}

#speedbar li {
	display:inline-block;
	margin:0;
	padding:0;
	width:24%;
	line-height:35px;
	text-align:center;
}

#speedbar a {font-weight:bold; color:white; text-decoration:none; display:block;}
#speedbar a:hover {font-style:italic;}

#corps h1 {text-align : center;}

#conteneur {
	min-height:600px;
	background:url('../images/fond.png') repeat-x white;
}

#corps
{
	width:650px;	
	padding:30px 0;
	margin:auto;
	color:#444;
}

#corps p {
	width:95%;
	margin:10px auto;
	text-align:justify;
}

#corps span.chargement {
	font-style:italic;
	display:block;
	text-align:center;
	padding:40px 0;
	}

fieldset.connexion
{
	width:400px;
	height:50px;
	margin:35px auto;
	padding:10px;
	border: 2px solid white;
	border-radius : 10px;
	background : url('../images/connexion.jpg');
}

fieldset.connexion label {display:inline-block; width:120px; padding-right:20px; text-align:right; font-weight:bold;}


#conteneur_footer {
	background:url('../images/pied.png') repeat-x;
	padding-top:30px;
}

#footer {
	background : url('../images/carte.png') no-repeat right;
	text-align : center;
	height : 150px;
	font-size:80%;
}

#footer p {
	margin:0;
	padding:0;
	padding-top:50px;
}

#footer a {color:black;}
#footer a:hover {text-decoration:none;}

table#scores {width:100%; margin:auto;}
table#scores th {background:white;}
table#scores, table#scores tr, table#scores tr td, table#scores tr th  {border:1px solid #444; border-collapse:collapse; text-align:center;}
